.gridContainer {
    font-size: 16px;
    cursor: pointer;
}


.rowHeader{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}
.gridCell{
    height: 75px;
    width: 175px !important;
    display: inline-block;
    padding: 20px;
    border-bottom: 1px solid #171D28;
}
.row{
    text-align: center;
}
.skillCell{
    height: 70px;
    width: 70px;
    padding: 5px;
}