
.sectionHeading {
    font-family: 'Paprika';
    text-align: center;
}
.aboutContainer{
    border : 1px solid #d19c97;
    height: 100%;
    /* width: 70%;
    padding: 0% 15%; */
}
.aboutText{
    font-size: 20px !important;
    height: 100%;
}
.description{
    width: 50%;
    height: 100%;
    border : 1px solid green;
}