.homeContainer {
  height: 100vh;
  width: 100%;
}

.particlesBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.centerTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #fff;
  z-index: 100;
  text-align: center;
}

.typedElem {
  font-size: 35px;
}

.homeBtn {
  background-color: #F3CD00;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  color: #171D28;
}

.homeBtn:hover {
  opacity: 0.8;
}